/***** global *****/

:root {
  --main-color: oklch(0.541 0.281 293.009)
;
}
a {
  text-decoration: none;
  color: inherit;
}
ul,
li {
  list-style-type: none;
  margin-bottom: 0;
  padding: 0;
}
.main-color {
  color: #57178f;
}

body{
  font-family: sans-serif;
}
@font-face {
  font-family: "Cairo";
  src: url("../fonts/Cairo-Regular.ttf") format("truetype");
}









.our .Build {
  font-weight: 700;
  position: relative;
  display: inline-block;
  background-color: #f8f4ff;
  padding: 6px 20px;
  border: 2px solid #ddd;
  color: var(--main-color);
}

.our .Build::after {
  content: "";
  width: 60px;
  height: 2px;
  background: linear-gradient(to left, transparent, #7f22fe);
  position: absolute;
  top: 50%;
  left: 100%;
  margin-left: 10px;
  transform: translateY(-50%);
}

.our .Build::before {
  content: "";
  width: 60px;
  height: 2px;
  background: linear-gradient(to right, transparent, #7f22fe);
  position: absolute;
  top: 50%;
  right: 100%;
  margin-right: 10px;
  transform: translateY(-50%);
}

.featured-title {
  font-size: 52px;
  font-weight: 800;
  text-align: center;
}

.featured {
  color: #5f6fff;
}

.properties {
  color: #ff7a18;
}

.featured {
  background: linear-gradient(to right, #5f6fff, #a855f7);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.properties {
  background: linear-gradient(to right, #a855f7, #ffb347);
  -webkit-background-clip: text;
   background-clip: text;
  -webkit-text-fill-color: transparent;
}

.our p:last-child {
  max-width: 660px;
  text-align: center;
  margin: 0 auto;
  font-size: 1.25rem;
  font-weight: 400;
  color: oklch(0.446 0.03 256.802);
}













/***** End global *****/

/***** navbar *****/

.my-nav ul.my-li li {
  padding-block: 10px;
  transition: 0.4s;
  cursor: pointer;
}
.my-nav ul.my-li li:hover {
  color: #7f22fe;
}

.my-nav .location {
  overflow: hidden;
}
.my-nav .overlay {
  position: absolute;
  inset: 0;
  background: linear-gradient(
    to right,
    rgba(128, 0, 255, 0.338),
    rgba(128, 0, 255, 0.377)
  );
  border-radius: 10px;
}
.my-nav .overlay:hover {
  background-color: #57178f5a;
}
.my-nav .location .yonk {
  pointer-events: none;
}

.my-nav .location .location-foto {
  height: 90px;
  width: 100%;
  overflow: hidden;
}
.my-nav .one-i {
  width: 40px;
  height: 40px;
  background-color: #57178f52;
  margin-right: 5px;
}
.my-nav .more:hover h4 {
  color: #7f22fe;
}
.my-nav .more .fa-arrow-right {
  transition: transform 0.3s;
}

.my-nav .more:hover .fa-arrow-right {
  transform: translateX(8px);
}
.my-nav .nav-link {
  font-weight: bold;
}

.my-nav .nav-link.active {
  color: var(--main-color);
}

/*  */





.my-nav .nav-link.active {
      border-bottom: 2px solid var(--main-color);

}

.my-page{
    text-align: center;
    position: relative;
}

.my-page::after{
    content: "";
    background-color: var(--main-color);
    width: 0;
    height:2px ;
    position: absolute;
    bottom: 0;
    left: 0;
    transition: width 0.5s;
}

/* hover */
.my-page:hover::after{
    width: 100%;
}

/* active */
.my-page.active::after{
    width: 100%;
}

/* hover color */
.my-page:hover{
    color: var(--main-color);
}

/* active color */
.my-page.active{
    color: var(--main-color);
}





/***** End navbar *****/

/***** header Home *****/

.Home {
  min-height: 100vh;
  background-image: linear-gradient(#7c3aedbe), url(../image/hero-bg-img.png);
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

.Home .home-contant p {
  max-width: 700px;
  text-align: center;
  margin: 0 auto;
}
.search-box {
  max-width: 900px;
  margin: auto;
  border-radius: 15px;
}

/* الزرار */
.search-box .btn {
  background: linear-gradient(to right, #7f22fe, #4f46e5);
  border: none;
}
.fa-location-dot {
  top: 50px;
}
.Home .form-select {
  background-image: none;
}
.my-btn {
  background-color: var(--main-color);
}

.my-btn:hover {
  background-color: #7c3aede4;
}

.form-control,
.form-select {
  border: 1px solid #ccc;
}

.form-control:focus,
.form-select:focus {
  border: 2px solid #7f22fe;
  box-shadow: none;
}
.Home .number p {
  line-height: 20px;
}

/***** End header Home *****/

/***** Section 1 Featured *****/





.Featured .Drop{
  position: absolute;
  top: 20px;
  left: 10%;
  background-color: var(--main-color);
  padding: 3px 9px;
}


.Featured .Drop-i{
 position: absolute;
  top: 20px;
  right: 10%;
  background-color: white;
  padding: 3px 9px;
  border-radius: 10px;

}
.Featured .Drop-i:hover{
  color: red;
}
.Featured .Drop-b{
    position: absolute;
  bottom: 10%;
  left: 10%;
  background-color:#01323D;
  padding: 3px 9px;
  color: white;
  border-radius: 15px;

}


.Featured .card .John{
  width: 35px;
  height: 35px;
}


.Featured .card button{
  border: none;
  padding: 10px;
  border-radius: 20px;
  background-color: #7c3aed61;
}

.Featured .card button:hover{
  background-color: #7c3aed85;
}




/***** End Section 1 Featured *****/

/***** Section 2 Services *****/ 



.Services .Planning p{
    color: oklch(0.446 0.03 256.802)

}



.Services .Search{
  width:40px ;
  height: 40px;
  background-color: #57178f4a;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
}

.Services .expert{
  max-width: 400px;
;
}
.Services .Access{
  max-width: 400px;
}




.Services .Rate{
  position: absolute;
  left: -20px;
  bottom: 0;
  padding: 20px 25px;
 line-height: 10px;
}



#pills-tab .nav-link {
    background-color: transparent; 
    color: #444; 
    border: none;
    border-bottom: 2px solid transparent;
    border-radius: 0; 
    font-weight: 500;
    transition: all 0.3s ease;
    padding: 10px 15px;
}

#pills-tab .nav-link:hover,
#pills-tab .nav-link.active {
    color: var(--main-color); 
    border-bottom: 2px solid #6366f1; 
}

#pills-tab .nav-link i {
    margin-right: 8px; 
    font-size: 1.1rem;
}
#pills-tab .nav-link.active:hover{
  background-color: #57178f59;
}

/*  */
#pills-tab .nav-link.active {
    color: #6366f1 !important; 
    border-bottom: 2px solid #6366f1; 
    background-color: rgba(99, 102, 241, 0.1); 
    
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}

#pills-tab .nav-link:hover {
    color: #6366f1;
    background-color: rgba(99, 102, 241, 0.05); 
}







/***** End Section 2 Services *****/
/***** Section 3 Testimonials*****/ 
 
 
 
 .Testimonials{
  background-color:#56178E;
}
 
 /*  */
 
#testimonialsCarousel{
  width: 80%;
  height: auto;
}




.carousel-item {
      color: oklch(0.446 0.03 256.802);

}

.carousel-item .card {
  border-radius: 20px;
}



 .Testimonials .company{
  max-width: 900px;
  text-align: left;
 }
 @media (max-width: 786px) {
  #testimonialsCarousel{
    width: 100%;
  }
  
 }
 
 
  .Testimonials .Michael img{
    width: 70px;
    height: 70px;
    border-radius: 50%;
  }
 
 
   .Testimonials .Foster{
    line-height: 10px;
    text-align: left;
   }
.Testimonials .carousel-indicators [data-bs-target]{
  width: 15px;
  height: 15px;
  border-radius: 50%;

}


.Testimonials .carousel-control-next
,.Testimonials .carousel-control-prev[data-bs-target]{
opacity: 1;
width: 50px;
height: 50px;
background-color: #7B48A6;
border-radius: 50%;
top: 50%;
transform: translateY(-50%);
transition: .3s ;

}



.Testimonials .carousel-control-next:hover
,.Testimonials .carousel-control-prev:hover{
  background-color:#7c48a696;
}
.Testimonials .carousel-control-next{
  right: -60px;
}

.Testimonials .carousel-control-prev{
  left: -60px;
}









 /***** End Section 3 Testimonials*****/





 /***** Section 4 FAQ *****/ 
 
 
 
 
 
 
 
 
 
 
.accordion-item {
  border: none;
  border-radius: 15px;
  margin-bottom: 20px;
  overflow: hidden;
  padding: 10px;
  width: 80%;
  margin-inline:  auto;

  /* ده المهم 👇 */
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.281);
}
.accordion-button {
  background-color: white;
  border-radius: 10px;
}

.accordion-button:not(.collapsed) {
  background-color: white;
  box-shadow: none ;
}
 
 
 
 
 
 /* يشيل أي تأثير أزرق عند الضغط */
.accordion-button:focus,
.accordion-button:active {
  outline: none;
  box-shadow: none;
}

/* كمان في حالة keyboard focus */
.accordion-button:focus-visible {
  outline: none;
  box-shadow: none;
}
 
 .accordion-button {
  font-size: 18px; /* كبره زي ما تحب */
  font-weight: 600; /* يخليه أوضح */
}
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 /***** End Section 4 FAQ *****/
 









 /***** Section 5 Contact *****/ 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 .Contact {
  background-color: #fff; /* خلفية بيضة للسكشن */
  position: relative; /* عشان نحدد موضع العناصر */
  overflow: hidden;
}

.Contact::after {
  content: "";
  position: absolute;
  top: -30px;
  right: -60px; 
  width: 200px; 
  height: 200px;
  border-radius: 50%; 
  background-color:#F5F3FE;
  border: 2px solid #ffffff;
}
.Contact::before{
    content: "";
  position: absolute;
  top: 50px;
  right: 70px;
  width: 100px; 
  height: 100px;
  border-radius: 50%;
  background-color:transparent;
  border: 3px solid #DDD6FF;
  z-index: 1;

}
 
.Contact .Call{
  width: 60px;
  height: 60px;
  border-radius: 15px;
  background-color: var(--main-color);
  color: white;
  transition: .4s;
}
 




.Contact .col-6{
  transition: .2s;
}



.Contact .col-6:hover{
box-shadow: 1px 1px var(--main-color);
border-radius: 20px;
transform: translateY(-10px);
}
 .Contact .col-6:hover .Call{
  transform: scale(1.1);
 }













.Contact .Hills{
  max-width: 200px;
}



.Contact .Luxury{
  background-color: #F4F5F7;
}

.Contact .media{
  background-color: var(--main-color);
  padding: 15px 40px;
  border-radius: 20px;
  box-shadow: 1px 1px var(--main-color);
}

.Contact .media p{
  max-width: 550px;
  font-size: .75rem;

}

.Contact .Follow {
  width:40px ;
  height: 40px;
  background-color: #A944FC;
  display: flex ;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  transition: .3s;
  cursor: pointer;
}


.Contact .Follow:hover{
  transform: scale(1.2);
}




/* row form */





.form-control,
.form-select {
  border-radius: 10px;
  padding: 12px;
}

textarea.form-control {
  resize: none;
}

form {
  max-width: 800px;
  margin: auto;
}
.pilot{
  transition: .4s;
}


.pilot:hover{
transform: translateY(-7px);
}





















 
 
 /***** End Section 5 Contact *****/
 